body{
  font-family: 'Oxygen', sans-serif;
  margin: 0;
  padding: 0;

}

/**-----top banner----**/

.top-banner{
  background-image: url(images/donation13.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.top-header{
  font-size: 50px;
  text-align: center;
  color: aliceblue;
}

.top-paragraph{
  text-align: center;
  color: aliceblue;
}

.donate-button{
  text-decoration: none;
  border-radius: 3px;
  background-color: tomato;
  padding: 8px 15px;
  color: aliceblue;
  font-weight: bold;
  margin-left: 45%;
  
}

/**-----donate amount----**/

.donate-today{
  margin-top: 100px;
}

.common-header{
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
}

.common-paragraph{
  text-align: center;
  margin-bottom: 40px;
}

.amount{
  display: flex;
  width: 50%;
  margin: 0 auto;
}

.div-item{
  width: 15%;
  margin-left: 1%;
  margin-right: 1%;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  background-color: lavender;
  border-radius: 3px;
}

.div-item:hover{
  border: 2px solid rgb(221, 52, 80);
  background-color: pink;
}

#other-amount{
  border-style: none;
  border-bottom: 1px solid grey;
  margin: 1.2% 40% 1.2% 41%;
  padding: 10px 25px 10px 35px;
}

/**-----donate plan------**/
.donate-plan{
  margin-top: 80px;
}

.flexible-container{
  display: flex;
}

.common-item{
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 30px 10px;
  border-radius: 5px;
}

#item-one{
  background-color: rgb(75, 119, 119);
}

#item-two{
  background-color: thistle;
}

#item-three{
  background-color: blanchedalmond;
}

/**--contribute part--**/

.contribute-one{
  margin-top: 70px;
}

.container{
  display: flex;
}

.container-item{
  width: 50%;
  margin-left: 10%;
}

.container-item h2{
  font-size: 30px;
  font-weight: bold;
}

.contribute-banner{
  width: 80%;
}

.how-to-button{
  text-decoration: none;
  border-radius: 3px;
  background-color: tomato;
  padding: 5px 15px;
  color: aliceblue;
  font-weight: bold;
}

.contribute-two{
  margin-top: 80px;
}

/**---form----**/
.form{
  background-color: tan;
  height: 90px;
  width: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

#email-input{
  background-color: darkgrey;
  border-style: none;
  padding: 5px 20px;
  color: aliceblue;
  border-radius: 5px;
}

#sub-button{
  background-color: tomato;
  border-style: none;
  border-radius: 5px;
  padding: 5px 20px;
  color: aliceblue;
}