body{
  margin: 0;
  padding: 0;
}


.top-banner{
  background-image: url(images/donation13.jpg);
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  height: 580px;
  text-align: center;
}

.top-banner h1{
  color: aliceblue;
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  text-align: center;
  padding-top: 180px;
}

.top-banner p{
  color: aliceblue;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-top: 20px;
}

.btn{
  border-style: none;
  border-radius: 5px;
  background-color: tomato;
  color: aliceblue;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 17px;
  margin-top: 20px;
}

/**----donate today----**/

.donate-today{
  text-align: center;
  margin-top: 100px;

}

.center-header{
  font-family: 'Inter', sans-serif;
  font-size: 35px;
  text-align: center;
}

.center-paragraph{
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.amount{
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 20%;
}

.amount .div-item{
  padding: 5%;
  border-radius: 5px;
  background-color: blanchedalmond;
  color: grey;
  font-family: 'Inter', sans-serif;
}

.amount #click-item{
  border: 2px solid rgb(202, 39, 10);
  background-color: rgb(240, 128, 109);
  color: black;
}

.donate-today input{
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  width: 50%;
  padding: 5px 20px;
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
}

/**----donate plan---**/
.donate-plan{
  margin-top: 100px;
}

.plan-pack{
  display: flex;
  justify-content: space-evenly;
}

.plan-item{
  width: 20%;
  border-radius: 5px;
  padding: 20px;
  margin-top: 40px;
}

.plan-item h2{
  font-family: 'Inter', sans-serif;
}

.plan-item p{
  text-align: justify;
  font-family: 'Poppins', sans-serif;
}

#first{
  background-color: rgb(75, 119, 119);
}

#second{
  background-color: thistle;
}

#third{
  background-color: blanchedalmond;
}

/**----contribute------**/

.contribute-one{
  margin-top: 130px;
}

.container{
  display: flex;
}

.container-item{
  width: 50%;
  margin-left: 10%;
}

.container-item p{
  font-family: 'Poppins', sans-serif;
}

.container-item h2{
  font-size: 30px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
}

.contribute-banner{
  width: 80%;
}

.how-to-button{
  text-decoration: none;
  border-radius: 3px;
  background-color: tomato;
  padding: 5px 15px;
  color: aliceblue;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.contribute-two{
  margin-top: 70px;
}

/**-gallery-**/
.gallery{
  margin-top: 130px;
  text-align: center;
}

.gallery-container{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  box-shadow: 10px 10px 20px black;
  width: 95%;
  margin: 0 auto;
}

.gallery-container img{
  width: 300px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/**---subscribe form---**/
.news-letter{
  margin-top: 130px;
}

.form{
  background-color: gray;
  height: 100px;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
}

.news-letter p{
  margin-bottom: 70px;
}

.form #email-input{
  font-family: 'Poppins', sans-serif;
  border: none;
  width: 330px;
  height: 35px;
  background-color: aliceblue;
  outline: none;
  border-radius: 5px 0 0 5px;
  padding-left: 15px;
  margin-top: 32px;
}

#sub-btn{
  height: 35px;
  background-color:tomato;
  color: aliceblue;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 0px 5px 5px 0px;
  padding: 5px;
  margin-top: 35px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

/**--footer--**/

.main-footer{
  margin-top: 80px;
  height: 130px;
  background: #0B0D17;
  padding-top: 25px;
}

.main-footer h2{
    font-family: 'Lobster', cursive;
    color: orange;
    font-size: 30px;
    text-align: center;
}

.main-footer p{
  font-family: 'Inter', sans-serif;
  color: aliceblue;
  padding-bottom: 20px;
  text-align: center;
}